.speech{font-family:Arial;font-size:15px;color:black}

.direction{font-family:'Times';
font-size:35px;color:black;
background-color: lightgreen}

.direction:hover{
color:brown;
background-color:lightblue;}

.name_hilda{
    font-family: 'Times';
    color: rgb(241, 241, 82);
    font-size:20px;
}
.name_solness{
    font-family: 'Times';
    color:rgb(219, 27, 27);
    font-size:20px;
}
.class{
    border-style:  solid;
    color:red;
    border-collapse: collapse;
    margin: 20px 13em 15pt 10%;
    padding: 8px 8px 8px 8px;
    text-align: center;
}
.class tbody tr:nth-child(even){
    background-color: #f2f2f2;

}

.name_hilda:hover{
    text-shadow: 3px 5px 4px rgb(85, 208, 194);
    border: 3px solid #e94040;
}

.name_solness:hover{
    text-shadow: 3px 5px 4px rgb(202, 208, 85);
    border: 3px solid #e94040;
}